/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ESTILO GENERAL*/
form{
    border:1px;
    margin: 0px auto ;
}
div label:first-child{
    display:inline-block;
    width:30%;
    margin: 10px;
    text-align: right;
    font-weight:bold;
}

ul{
    list-style-type:circle;
}

ol{
    list-style-type:lower-alpha;
}
a{
    text-decoration: none;
}

table.ejemplo,table.ejemplo td,table.ejemplo th{
    border:1px solid;
    border-collapse: collapse;
    border-spacing: 5px;
}

#logo,#menu-izq,#contenido,#menu-der,#pie{
    padding: 10px;
    text-align: center;
}

#menu-izq,#contenido,#menu-der{
    float:left;
}

#logo{
    border-bottom: solid 1px black;
    width: calc(100% - 26px);
}

#contenido{
    width: calc(65% - 26px);
}

#menu-der{
    width: calc(15% - 26px);
}

/* MENU IZQUIERDO */

#menu-izq{
    border-right: solid 1px black;
    width: calc(20% - 26px);
}

#menu-izq a{
    border:1px solid;
    display: block;
    -moz-border-radius: 1em 4em 1em 4em;
    border-radius: 1em 4em 1em 4em;
}
#menu-izq a:hover{
    border:1px solid #99f;
    display: block;
    -moz-border-radius: 1em 4em 1em 4em;
    border-radius: 1em 4em 1em 4em;
}

/* PIE */
#pie{
    clear:both;
}

ul.menu { 
   list-style: none;    /* Eliminar las viñetas */
}
ul.menu li {
   border: 1px solid #7C7C7C;   /* Borde a cada elemento */
   background: #F4F4F4;         /* Color de fondo */
   float: left;
   list-style:none;
}

ul.menu li a {
   padding: .2em 0 .2em .5em;   /* Espaciado con su caja */
   display: block;              /* Display block para que abarquen toda la caja y no solo el texto */
   text-decoration: none;       /* Quitamos el subrayado */
   color: #333;                 /* Cambiamos el color del texto */
}

#pie ul.menu li:nth-child(even) a{
    color: #f00;
}

/*LINKS*/
.lboton{
    display: block;
    margin:1%;
}
.facebook{
    padding-left:16;
    padding-bottom:16px;
    background-image:url('http://www.nescafe.com.mx/templates/Images/TemplateImages/fb.png');
    background-repeat:no-repeat;

}
.google{
    padding-left:16;
    padding-bottom:16px;
    background-image:url('http://www.metriplica.com/certificado-google-analytics/inc/img/lgt/lgt-google-small.jpg');
    background-repeat:no-repeat;

}
.firefox{
    padding-left:32;
    padding-bottom:32px;
    background-image:url('http://png.findicons.com/files/icons/1070/software/48/mozilla_firefox.png');
    background-repeat:no-repeat;

}

/* Consultas */
#consulta{
    text-align: left;
}

.tipoDato{
    text-align: right;
    padding-right: 1%;
    margin:0.5% 0%;
    display: inline-block;
    width:48%;
    font-weight: 700;

}
#consulta .botones{
    text-align: center;
}
#consulta form{
    margin:2% 0%;
    display: inline-block;
}


















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
